In [ ]:
! pip install mysql-connector-python==9.1.0

Requirement already satisfied: mysql-connector-python==9.1.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (9.1.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [4]:
! pip install SQLAlchemy==2.0.36

Collecting SQLAlchemy==2.0.36
  Downloading SQLAlchemy-2.0.36-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.7 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from SQLAlchemy==2.0.36) (4.14.1)
Collecting greenlet!=0.4.17 (from SQLAlchemy==2.0.36)
  Downloading greenlet-3.2.4-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (4.1 kB)
Downloading SQLAlchemy-2.0.36-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 21.8 MB/s eta 0:00:00
Downloading greenlet-3.2.4-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (607 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 607.6/607.6 kB 14.7 MB/s eta 0:00:00
Installing collected packages: greenlet, SQLAlchemy
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [SQLAlchemy]2 [SQLAlchemy]
Successfully installed SQLAlchemy-2.0.36 greenlet-3.2.4

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [5]:
import sqlalchemy as db
import pandas as pd

In [10]:
engine = db.create_engine('mysql+mysqlconnector://root:root@localhost:3310/retail_db')
conn = engine.connect()

In [11]:
df_departments = pd.read_sql_table('departments', con=conn)
df_departments

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop

In [12]:
df_departments = pd.read_sql_query("SELECT * FROM departments", con = conn)
df_departments

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop

In [14]:
df_departments = pd.read_sql("SELECT * FROM departments", con = conn)

df_departments

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop